*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card{
    height: 200px;
    width: 200px;
    background-color: aquamarine;
    color: black;
    border: 2px solid black;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}