*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card{
    height: 250px;
    width: 300px;
    background-color: aquamarine;
    color: black;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 2px 2px 5px black;
    margin: 20px;
    gap: 15px;
}

main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

nav{
    height: 10vh;
    width: 100vw;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}