*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.circle{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}

.msg{
    height: 140px;
    width: 300px;
    background-color: aquamarine;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}