*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer{
    height: 500px;
    width: 600px;
    border: 2px solid black;
    position: relative;
}

.box{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    position: absolute;
}
#box1{
    background-color:red ;
}
#box2{
   top: 0;
   right: 0;
   background-color: green;
}

#box3{
    bottom: 0;
    left: 0;
    background-color: grey;
}

#box4{
    bottom: 0;
    right: 0;
    background-color: lightblue;
}

#box5{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: pink;
}