*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.outer{
    position: relative;
    height: 500px;
    width: 700px;
    border: 2px solid black;
}

.box{
    position: absolute;
    height: 100px;
    width: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    cursor: pointer;
}

#box1{
    top: 0;
    left: 0;
    background-color: red;
}

#box2{
    top: 0;
    right: 0;
    background-color: green;
}

#box3{
    bottom: 0;
    left: 0;
    background-color: blue;
}

#box4{
    bottom: 0;
    right: 0;
    background-color: pink;
}

#box5{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: aqua;
}